certifi==2019.11.28
chardet==3.0.4
configparser==4.0.2
ddt==1.2.2
decorator==4.4.1
et-xmlfile==1.0.1
idna==2.8
jdcal==1.4.1
jsonpath-rw==1.4.0
openpyxl==3.0.0
ply==3.11
pyHook==1.5.1
PyUserInput==0.1.11
pywin32==223
requests==2.22.0
selenium==3.141.0
six==1.13.0
urllib3==1.25.6
